*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100vh;
  width: 100%;
  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button{
  border: none;
  background-color: rgb(87, 191, 182);
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: 600;
  transition: all 0.3s ease;
  &:hover{
    transform: scale(1.04);
  }
}

.cards-row {
  height: 100vh;
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-image: url(https://i.pinimg.com/1200x/96/6e/79/966e7933bca7acd511ca4c51859525aa.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.card {
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 30px 20px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  color: #222;
  backdrop-filter: blur(5px);
  width: 350px;
  min-height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card img {
  max-width: 100%;
  height: 200px;
  border-radius: 8px;
  transition: all 0.3s ease;
  &:hover{
    transform: scale(1.04);
  }
}